*/btk_api_env
btk_api_env/*
./btk_api_env
*.pyc
*.log

frontend/pages/__pycache__
frontend/pages/__pycache__/*

frontend/pages/markowitz/__pycache__/*
frontend/pages/markowitz/__pycache__

backend/db.sqlite3

datalake/logs/
datalake/dags/__pycache__
datalake/dags/__pycache__/*

*/btk_env
btk_env/
btk_env

backend/db.sqlite3

backend/backend/__pycache__/
backend/authentication/migrations/*

backend/authentication/__pycache__
backend/authentication/__pycache__/*

backend/setups/ai_models/strategies/__pycache__
backend/setups/ai_models/strategies/__pycache__/*

backend/setups/ai_models/svm/__pycache__
backend/setups/ai_models/svm/__pycache__/*

backend/setups/ai_models/strategies/__pycache__/
backend/setups/ai_models/strategies/__pycache__/*

backend/static/saved_models/
backend/static/saved_models/BIDI11/SVR_summary_deploy.pkl
backend/static/saved_models/BIDI11/SVR_summary.pkl
backend/static/saved_models/BIDI11/SVR.pkl

backend/static/saved_models/ITUB4/SVR_summary_deploy.pkl
backend/static/saved_models/ITUB4/SVR_summary.pkl
backend/static/saved_models/ITUB4/SVR.pkl

backend/static/saved_models/PETR4/SVR_summary_deploy.pkl
backend/static/saved_models/PETR4/SVR_summary.pkl
backend/static/saved_models/PETR4/SVR.pkl

backend/static/saved_models/VALE3/SVR_summary_deploy.pkl
backend/static/saved_models/VALE3/SVR_summary.pkl
backend/static/saved_models/VALE3/SVR.pkl