*/btk_api_env
btk_api_env/*
./btk_api_env
*.pyc
*.log

backend/authentication/__pycache__
backend/authentication/__pycache__/*
backend/backend/__pycache__/
frontend/pages/__pycache__/
backend/authentication/migrations/*
backend/db.sqlite3
datalake/logs/

backend/setups/ai_models/strategies/__pycache__
backend/setups/ai_models/strategies/__pycache__/*

backend/setups/ai_models/svm/__pycache__
backend/setups/ai_models/svm/__pycache__/*