*/btk_api_env
btk_api_env/*
./btk_api_env

backend/authentication/__pycache__
backend/backend/__pycache__/

backend/authentication/migrations/*
backend/db.sqlite3

frontend/pages/__pycache__/*
frontend/routes.py
